<form ng-submit="submit()">
  
  <h2>Product Template</h2>
  <div class="panel-group" id="accordion">
    
    <div class="row" style="margin-top:20px; margin-left:10px; margin-bottom:20px">
      <div class="col-md-8">
        <div class="row">
          <label for="titleId" data-parent="#accordion">Title</label>
        </div>
        <div class="row">
          <input type="text" ng-model="text" name="text" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <label for="titleSuffixId">Title Suffix Rule</label>
        </div>
        <div class="row">
          <input type="text" id="titleId">
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-parent="#accordion" 
            ng-click="isCollapsedDI = !isCollapsedDI; glyphiconChangeDI= isCollapsedDI ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-down'">
            <span class={{glyphiconChangeDI}}></span>
            Description & Images</a>
        </h4>
      </div>
      <div uib-collapse="isCollapsedDI">
        <div class="panel-body">
          
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-parent="#accordion" 
            ng-click="isCollapsedPrice = !isCollapsedPrice; glyphiconChangePrice= (isCollapsedPrice) ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-down'">
            <span class={{glyphiconChangePrice}}></span>
            Pricing</a>
        </h4>
      </div>
      <div uib-collapse="isCollapsedPrice">
        <div class="panel-body">
          
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-parent="#accordion" 
            ng-click="isCollapsedInventory = !isCollapsedInventory; glyphiconChangeInventory= (isCollapsedInventory) ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-down'">
            <span class={{glyphiconChangeInventory}}></span>
            Inventory</a>
        </h4>
      </div>
      <div uib-collapse="isCollapsedInventory">
        <div class="panel-body">
          
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-parent="#accordion" 
            ng-click="isCollapsedShipping = !isCollapsedShipping; glyphiconChangeShipping= (isCollapsedShipping) ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-down'">
            <span class={{glyphiconChangeShipping}}></span>
            Shipping</a>
        </h4>
      </div>
      <div uib-collapse="isCollapsedShipping">
        <div class="panel-body">
          
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-parent="#accordion" 
            ng-click="isCollapsedVisibility = !isCollapsedVisibility; glyphiconChangeVisibility= (isCollapsedVisibility) ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-down'">
            <span class={{glyphiconChangeVisibility}}></span>
            Visibility</a>
        </h4>
      </div>
      <div uib-collapse="isCollapsedVisibility">
        <div class="panel-body">
          
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-parent="#accordion" 
            ng-click="isCollapsedOrganization = !isCollapsedOrganization; glyphiconChangeOrganization= (isCollapsedOrganization) ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-down'">
            <span class={{glyphiconChangeOrganization}}></span>
            Organization</a>
        </h4>
      </div>
      <div uib-collapse="isCollapsedOrganization">
        <div class="panel-body">
          
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-top:20px">
      <div class="col-md-6">
        <label for="numberOfProductsId">Number of products:</label>
        <input type="number" id="numberOfProductsId">
      </div>
    </div>
    
    <div class="row" style="margin-top:20px">
      <div class="col-md-6" >
        <input type="submit" id="submit" value="Start Adding Products" />
      </div>
    </div>
    
  </div>

</form>

